<div class="container cv-wrapper">
  <aside>
    <div class="info-summary">
      <header>
        Info
      </header>
      <dl>
        <dt>Namn:</dt><dd>Staffan Garhammar</dd>
        <dt class="top-10">Email:</dt><dd class="top-10">staffan.garhammar@gmail.com</dd>
        <dt class="top-10">Adress:</dt><dd class="top-10">Sandhamnsgatan 13</dd>
        <dt></dt><dd>115 40 Stockholm</dd>
      </dl>
    </div>
    <div class="skills-summary">
      <header>
        Skills
      </header>
      <ul>
        <li>
          <div class="name">Javascript:</div
          ><div class="points">
            <ul>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="name">CSS3:</div
          ><div class="points">
            <ul>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="name">HTML5:</div
          ><div class="points">
            <ul>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="name">Node Js:</div
          ><div class="points">
            <ul>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="education-summary">
      <header>
        Utbildning
      </header>
      <ul>
        <li>
          <div>Civilingenjör Elektroteknik</div>Lunds tekniska högskola
        </li>
        <li>
          <div>Företagsekonomi 20p</div>(Kalmar högskola)
        </li>
        <li>
          <div>Naturvetenskapliga programmet</div>(Lars Kaggskolan, gymnasie)
        </li>
      </ul>
    </div>
  </aside
  ><div class="timeline-wrapper">
    <div class="timeline">
      <header>
        Anställningar / Uppdrag
      </header>
      <ul>
        <li>
          <div class="year"><span>2015</span></div
          ><div class="text">
            <div class="name">Viaplay</div>
              <p>
                Det är ett välkänt faktum att läsare distraheras av läsbar text på en sida när man skall studera layouten. Poängen med Lorem Ipsum är att det ger ett normalt ordflöde, till skillnad från "Text här, Text här", och ger intryck av att vara läsbar text. Många publiseringprogram och webbutvecklare använder Lorem Ipsum som test-text, och en sökning efter "Lorem Ipsum" avslöjar många webbsidor under uteckling.
              </p>
          </div>
        </li>
        <li>
          <div class="year"><span>2015 - 2014</span></div
          ><div class="text">
            <div class="name">Dagens Nyheter</div>
            <p>
              Det är ett välkänt faktum att läsare distraheras av läsbar text på en sida när man skall studera layouten. Poängen med Lorem Ipsum är att det ger ett normalt ordflöde, till skillnad från "Text här, Text här", och ger intryck av att vara läsbar text. Många publiseringprogram och webbutvecklare använder Lorem Ipsum som test-text, och en sökning efter "Lorem Ipsum" avslöjar många webbsidor under uteckling.
            </p>
          </div>
        </li>

        <li>
          <div class="year"><span>2014 - 2010</span></div
          ><div class="text">
            <div class="name">Avanza</div>
              <p>
                Det är ett välkänt faktum att läsare distraheras av läsbar text på en sida när man skall studera layouten. Poängen med Lorem Ipsum är att det ger ett normalt ordflöde, till skillnad från "Text här, Text här", och ger intryck av att vara läsbar text. Många publiseringprogram och webbutvecklare använder Lorem Ipsum som test-text, och en sökning efter "Lorem Ipsum" avslöjar många webbsidor under uteckling.
              </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>