<!doctype html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
      <title>Garhammar</title>
      <meta name="description" content="Staffan Garhammar"/>
      <meta name="google" content="notranslate" />
      <meta name="keywords" content="Staffan Garhammar cv blog biografi citat" />
      <link href="https://fonts.googleapis.com/css?family=Wire+One|Muli|Oswald:300|Abril+Fatface" rel="stylesheet" type="text/css">
      <link href="{{ adminStyles }}" rel="stylesheet" type="text/css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/basket.js/0.5.2/basket.full.min.js"></script>
      <script>
        window.consi = {};
        consi.activeTab = '{{ pane }}';
      </script>
      <script src="{{ adminScript }}"></script>
      <link rel="shortcut icon" href="images/favicon.ico">
  </head>
  <body class="admin">
    <div class="status hide"></div>
    <div class="post">
      <div>
        <div class="label">Username:</div><input type="text" name="username" placeholder="Username"/>
      </div>
      <div>
        <div class="label">Password:</div><input type="password" name="password" placeholder="Password"/>
      </div>
    </div>
    <form enctype="multipart/form-data" method="post" class="post top-10">
      <div>
        <span class="label">Published:</span
        ><input type="checkbox" name="isPublished" {{#if isPublished}}checked="checked"{{/if}}/>
      </div>
      <div>
        <span class="label">Date:</span
        ><input type="date" name="date" placeholder="YYYY-MM-DD" value="{{ date }}"/>
      </div>
      <div>
        <span class="label">Header:</span
        ><input name="header" placeholder="header"/>
      </div>
      <div>
        <span class="label">Author:</span
        ><input name="author" placeholder="author" value="Garhammar"/>
      </div>
      <div>
        <span class="label">Extract:</span
        ><input name="extract" placeholder="extract"/>
      </div>
      <div>
        <span class="label">Template:</span
        ><select name="template">
          <option value="centered_bottom">centered_bottom</option>
          <option value="left_bottom">left_bottom</option>
          <option value="left_gallery">left_gallery</option>
        </select>
      </div>
      <div>
        <span class="label">Text:</span
        ><textarea name="text" placeholder="text"/><p></p></textarea>
      </div>
      <div class="media">
        <span class="label">Typ:</span
        ><select name="type[]">
          <option value="image">image</option>
          <option value="youtube">youtube</option>
          <option value="video">video</option>
        </select><br/>
        <span class="label">First:</span><input type="file" name="first[]" placeholder="src" value=""/><br/>
        <span class="label">First:</span><input type="file" name="first[]" placeholder="src" value=""/><br/>
        <span class="label">First:</span><input type="file" name="first[]" placeholder="src" value=""/><br/>
        <span class="label">Bredd:</span><input name="width[]" placeholder="width" value="1000"/><br/>
        <span class="label">Höjd:</span><input name="height[]" placeholder="height" value="750"/><br/>
      </div>
      <div class="media">
        <span class="label">Typ:</span
        ><select name="type[]">
          <option value="image">image</option>
          <option value="youtube">youtube</option>
          <option value="video">video</option>
        </select><br/>
        <span class="label">Second:</span><input type="file" name="second[]" placeholder="src" value=""/><br/>
        <span class="label">Second:</span><input type="file" name="second[]" placeholder="src" value=""/><br/>
        <span class="label">Second:</span><input type="file" name="second[]" placeholder="src" value=""/><br/>
        <span class="label">Bredd:</span><input name="width[]" placeholder="width" value="1000"/><br/>
        <span class="label">Höjd:</span><input name="height[]" placeholder="height" value="750"/><br/>
      </div>
      <div class="media">
        <span class="label">Typ:</span
        ><select name="type[]">
          <option value="image">image</option>
          <option value="youtube">youtube</option>
          <option value="video">video</option>
        </select><br/>
        <span class="label">Third:</span><input type="file" name="third[]" placeholder="src" value=""/><br/>
        <span class="label">Third:</span><input type="file" name="third[]" placeholder="src" value=""/><br/>
        <span class="label">Third:</span><input type="file" name="third[]" placeholder="src" value=""/><br/>
        <span class="label">Bredd:</span><input name="width[]" placeholder="width" value="1000"/><br/>
        <span class="label">Höjd:</span><input name="height[]" placeholder="height" value="750"/><br/>
      </div>
      <input class="button" type="submit" value="new"/>
      <input type="hidden" name="token" value="fucker"/>
    </form>
    {{#each posts}}
      <form enctype="multipart/form-data" method="post" class="post">
        <div>
          <span class="label">Published:</span
          ><input type="checkbox" name="isPublished" {{#if isPublished}}checked="checked"{{/if}}/>
        </div>
        <div>
          <span class="label">Date:</span
          ><input name="date" placeholder="YYYY-MM-DD" type="date" value="{{date}}"/>
        </div>
        <div>
          <span class="label">Header:</span
          ><input name="header" placeholder="header" value="{{header}}"/>
        </div>
        <div>
          <span class="label">Author:</span
          ><input name="author" placeholder="author" value="{{author}}"/>
        </div>
        <div>
          <span class="label">Extract:</span
          ><input name="extract" placeholder="extract" value="{{extract}}"/>
        </div>
        <div>
          <span class="label">Template:</span
          ><select name="template">
            <option value="centered_bottom" {{#if isCenteredBottom}}selected="selected"{{/if}}>centered_bottom</option>
            <option value="left_bottom" {{#if isLeftBottom}}selected="selected"{{/if}}>left_bottom</option>
            <option value="left_gallery" {{#if isLeftGallery}}selected="selected"{{/if}}>left_gallery</option>
          </select>
        </div>
        <div>
          <span class="label">Text:</span
          ><textarea name="text" placeholder="text"/>{{{text}}}</textarea>
        </div>
        {{#each this.media}}
          {{> admin/media this}}
        {{/each}}
        <input type="hidden" name="id" value="{{id}}"/>
        <input class="button" type="submit" value="update"/>
      </form>
    {{/each}}
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.min.js"></script>
  </body>
</html>