<article data-article="true">
  <div class="flipper">
    <div class="front">


      <div class="image invisible" data-image-src="{{ media.0.src }}"></div>

      <section>
        <header>
          <div>
            <span class="date">{{humanDate}}</span>
            <h2>{{header}}</h2>
            <div class="sub-header">
              <span class="tag">av {{author}}</span>
            </div>
          </div>
          <p>
           {{extract}}
          </p>
          <span class="btn">Läs mer</span>
        </header>
      </section>


    </div>




    <div class="back clearfix">
      <section>
        <header>
          {{#if headerImage}}
            {{{headerImage}}}
          {{/if}}
          <div>
            <span class="date">{{humanDate}}</span>
            <h2>{{header}}</h2>
            <div class="sub-header">
              <span class="tag">av {{author}}</span>
            </div>
          </div>
          <p>
           {{extract}}
          </p>
        </header>
        {{{ text }}}
      </section>
    </div>
  </div>
</article>