<article data-article="true" {{#if isDynamic}}class="dynamic"{{/if}} data-next-url={{ url }}>
  <div class="flipper">
    <div class="front">

      <div>
        <div class="image invisible" data-image-src="{{ media.0.src }}"></div>
        <section>
          <header>
            <div>
              <span class="date">{{humanDate}}</span>
              <h2>{{header}}</h2>
              <div class="sub-header">
                <span class="tag">av {{author}}</span>
              </div>
            </div>
            <p>
              {{extract}}
            </p>
            <a href="" class="btn no-op">Läs mer</a>
          </header>
        </section>
      </div>

    </div>

    <div class="back clearfix">
      <div>
        {{#if isLeftGallery }}
          {{> blog/left_gallery}}
        {{/if}}

        {{#if isLeftBottom}}
          {{> blog/left_bottom}}
        {{/if}}

        {{#if isCenteredBottom}}
          {{> blog/centered_bottom}}
        {{/if}}
      </div>
    </div>
  </div>
</article>