@import "media";
@import "mixins";

article {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  @include vendor-prefix("perspective", "1000px");
  @include vendor-prefix("transition", "all 300ms ease");
  margin: 0 0 0 0;
  max-width: 800px;
  @include tablet {
    color: #555;
    section {
      margin-left: 45%;
    }
    .front .image {
      left: 0;
    }
    &:nth-child(odd) {
      section {
        margin-left: 0;
      }
      .front .image {
        left: 55%;
      }
    }
  }
  @include desktop {
    &:nth-child(odd) {
      margin-left: 100px;
    }
  }
}

article:hover .front {
  color: #fff;
}

article .front h2 {
  color: #fff;
}
article .front p {
  color: #fff;
  @include tablet {
    @include vendor-prefix("transition", "all 300ms ease");
    color: #666;
  }
}
article .front .date,
article .front .tag {
  color: #999;
  @include tablet {
    @include vendor-prefix("transition", "all 300ms ease");
    color: #666;
  }
}


.image-container {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  box-sizing: border-box;
  // box-shadow: 0 0 10px -3px #000;
  position: relative;
  & > div {
    height: 0;
    width: 100%;
  }
  .image {
    // width: calc(100% - 20px);
    // height: calc(100% - 20px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}

@include tablet {
  .image-container {
    width: 40%;
    &.image-left {
      float: left;
      margin: 0 20px 20px 0;
    }
    &.image-right {
      float: right;
      margin: 0 0 20px 20px;
    }
    &.block {
      width: 100%;
    }
  }
}

@include desktop {
  .image-container {
    width: 40%;
    &.image-left {
      float: left;
      margin: 0 20px 20px -60px;
    }
    &.image-right {
      float: right;
      margin: 0 -60px 20px 20px;
    }
  }
}

@include wide {
  .image-container {
    &.image-left {
      margin: 0 20px 20px -120px;
    }
    &.image-right {
      margin: 0 -120px 20px 20px;
    }
  }
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.back {
  // @include tablet {
  //   .image-left {
  //     float: left;
  //     width: calc(100% - 20px);
  //     padding: 20px 20px 20px 0;
  //   }
  //   .image-right {
  //     float: right;
  //     width: calc(100% - 20px);
  //     padding: 20px 0 20px 20px;
  //   }
  // }
}

.touch {
  article .front .date,
  article .front .tag {
    color: #999;
  }
  article .front p,
  article .front h2 {
    color: #fff;
  }
}

article:hover .front .date,
article:hover .front .tag {
  color: #999;
}
article:hover .front p {
  color: #fff;
}


.back h2,
.front h2 {
  margin: 0;
}

iframe {
  display: block;
  margin-bottom: 5px;
}


section {
  padding: 10px 10px 20px 10px;
  width: auto;
  position: relative;
  z-index: 11;
  box-sizing: border-box;
  @include tablet {
    min-height: 350px;
    width: 55%;
    padding: 20px;
  }
}



.back section {
  width: 100%;
  margin-left: 0;
  padding-bottom: 80px;
}

.back header {
  color: #000;
}



.image {
  background-size: cover;
  background-position: center;
  @include vendor-prefix("transition", "all 300ms ease");
  background-color: #eee;
}

.image {
  z-index: 10;
  width: auto;
  position: relative;
  height: 0;
  padding: 0 0 56.25% 0;
  box-sizing: border-box;
  &.inactive {
    padding: 0 0 0 0;
  }
}

.front .image {
  background-color: #000;
  @include vendor-prefix("filter", "brightness(120%)grayscale(60%)");
  @include tablet {
    position: absolute;
    top: 0;
    width: 45%;
    // right: -50px;
    // left: auto;
    height: 100%;
    padding: 0;
    @include vendor-prefix("filter", "brightness(200%)grayscale(100%)");
  }
}

/*.active .image {
  @include tablet {
    width: calc(45% + 11px);
    top: 0;
    height: 100%;
  }
}
*/

article:hover .front .image {
  @include vendor-prefix("filter", "brightness(120%)grayscale(60%)");
  @include tablet {
/*    width: calc(45% + 11px);
    top: 0;
    height: 100%;*/
  }
}

// article:nth-child(even) {
//   .image {
//     @include tablet {
//       right: auto;
//       left: -50px;
//     }
//   }
//
//   section {
//     @include tablet {
//       margin-left: 45%;
//     }
//   }
// }

article.active section {
  margin-left: 0;
}

.flipper {
  @include vendor-prefix("transition", "all 300ms ease");
  @include vendor-prefix("transform-style", "preserve-3d");
  position: relative;
  height: 100%;
  @include vendor-prefix("transform-origin", "center left");
}

.active .flipper {
  @include vendor-prefix("transform", "rotateY(180deg)");
  @include vendor-prefix("transform", "translateX(100%)rotateY(180deg)");
}

.front,
.back {
  @include vendor-prefix("backface-visibility", "hidden");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front {
  background-color: #000;
  z-index: 2;
  cursor: pointer;
  /* for firefox 31 */
  @include vendor-prefix("transform", "rotateY(0deg)");
  section {
    background-color: #000;
    /*border: 1px solid #000;*/
  }
  a {
    font-family: 'Oswald', sans-serif;
    font-size: 0.9rem;
    margin: 0;
  }
}

.active .front,
.back {
  position: absolute;
}

.back {
  @include vendor-prefix("transform", "rotateY(180deg)");
  box-sizing: border-box;
  /*padding: 10px;*/
  @include tablet {
    /*padding: 20px;*/
  }
}


.placeholder .front,
.placeholder .back {
  position: relative;
}



.note {
  padding: 5px 10px;
  color: #000;
  font-size: 1.3rem;
  border-left: 5px solid #1DBBC8;
  @include tablet {
    display: inline-block;
    max-width: 200px;
    float: right;
    margin: 0 0 20px 20px;
    &.odd {
      float: right;
      margin: 10px 0 20px 20px;
    }
    &.even {
      float: left;
      border-right: 5px solid #1DBBC8;
      border-left: none;
      margin: 10px 30px 20px 0;
      text-align: right;
    }
  }
  @include desktop {
    &.odd {
      margin: 10px -80px 20px 30px;
    }
    &.even {
      margin: 10px 30px 20px -70px;
    }
  }
}


