@import "media";
@import "mixins";

.touch .cv-wrapper {
  color: #333;
}

.touch {
  dt {
    color: #000;
  }
  .name {
    color: #000;
  }
}

.touch .cv-wrapper {
  header {
    border-top: 3px solid #333;
    border-bottom: 1px solid #333;
    color: #333;
  }
  .skills-summary .points li {
    &.active {
      background-color: #EFA0A0;
    }
    background-color: #ccc;
  }
}


.cube-line {
  position: absolute;
  top: 0;
  left: 0;
  path {
    stroke: #000;
    fill: none;
  }
}

.cube-container {
  position: absolute;
  top: 0;
  left: 0;
  perspective: 1000px;
  // perspective-origin: 50% 50%;
  .cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;

    transition: all 600ms ease;

    & > figure {
      transform-origin: bottom left;
      margin: 0;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      border: 1px solid #000;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 1);
      @include vendor-prefix("transition", "background-color 600ms ease");
    }
    &.transparent > figure {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

.cv-wrapper {
  color: #999;
  max-width: 900px;

  p {
    margin: 10px 0 5px 0;
  }

  header {
    // border-top: 3px solid #000;
    // border-bottom: 1px solid #000;
    // font-family: 'Oswald', sans-serif;
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    border-top: 3px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #ccc;
  }

  .active header {
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
    color: #000;
  }

  .timeline-wrapper,
  aside {
    display: block;
    box-sizing: border-box;
    vertical-align: top;
    @include tablet {
      width: 40%;
      display: inline-block;
    }

    .image {
      padding-bottom: 82.85%;
      width: 100%;
      height: 0;
      position: relative;
      @include vendor-prefix("filter", "brightness(170%)grayscale(100%)");
    }
    .active .image {
      @include vendor-prefix("filter", "brightness(110%)grayscale(0%)");
    }
  }

  .highlight {
    @include vendor-prefix("transition", "all 300ms ease");
  }

  .highlight.inactive {
    opacity: 0.3;
  }

  .highlight.active {
    color: #000;
  }

  .timeline-wrapper {
    padding-top: 40px;
    @include tablet {
      margin-top: 0;
      width: 60%;
    }
    .name {
      width: 100%;
      font-size: 1.1rem;
    }
    &:hover header {
      color: #000 !important;
      border-top: 3px solid #000 !important;
      border-bottom: 1px solid #000 !important;
      opacity: 1;
    }
  }


  ul,
  dl {
    margin: 14px 0 0 0;
  }

  .timeline ul {
    margin: 0;
    padding-top: 14px;
  }

  li {
    display: block;
    text-align: left;
  }



  dt,
  dd {
    margin: 0;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-bottom: 5px;
  }


  .skills-summary .name {
    display: inline-block;
    width: 30%
  }

  dd {
    width: 70%;
  }
}


.skills-summary {
  .points {
    display: inline-block;
    width: 70%;
    ul {
      margin: 0 0 10px 0;
    }
    li {
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-right: 3px;
      border-radius: 50%;
      background-color: #eaeaea;
      &.active {
        background-color: #ccc;
        // border: 1px solid #985D5D;
      }
    }
  }
  &.active {
    .points {
      li {
        background-color: #ccc;
        &.active {
          background-color: #EFA0A0;
        }
      }
    }
  }
}

.biography {
  padding-top: 40px;
  @include tablet {
    p {
      margin: 25px 0 15px 0;
      max-width: 600px;
    }
  }
}


.skills-summary,
.education-summary {
  padding-top: 40px;
}

.skills-summary,
.education-summary,
.person-summary {
  @include tablet {
    padding-right: 10px;
  }
}

.education-summary {
  li {
    margin: 10px 15px 15px 15px;
    display: list-item;
  }
  div {
    margin-bottom: 3px;
  }
  .name {
    display: block;
    color: #000;
  }
}


.timeline .text,
.timeline .year {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  padding: 20px 0;
}

.timeline .text {
  width: calc(80% - 1px);
  box-sizing: border-box;
  padding-left: 20px;
  border-left: 1px solid #bdbdbd;
  margin-top: -2px;
}

.timeline {
  a {
    display: inline-block;
    margin-top: 5px;
    padding: 2px 10px;
  }
  li {
    box-sizing: border-box;
  }
  .name {
    margin-bottom: 2px;
  }
  .year {
    position: relative;
    text-align: right;
    span {
      display: inline-block;
      margin-right: 15px;
      padding: 0 7px 0 0;
      background-color: #fff;
      position: relative;
    }
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      top: 50%;
      margin-top: -6px;
      right: -6px;
      border: 1px solid #bdbdbd;
      background-color: #fff;
    }
  }
}