$landscape: 480px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1600px;


@mixin landscape {
  @media (min-width: #{$landscape}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin wide {
  @media (min-width: #{$wide}) {
    @content;
  }
}

.touch .not-mobile {
  display: none;
}