<div class="media">
  <div>
    <span class="label">Typ:</span
    ><select name="type[]">
      <option value="image" {{#if isImage}}selected="selected"{{/if}}>image</option>
      <option value="youtube" {{#if isYoutube}}selected="selected"{{/if}}>youtube</option>
      <option value="video" {{#if isVideo}}selected="selected"{{/if}}>video</option>
    </select>
  </div>
  <div>
    {{#if src}}<span class="label">Current src:</span>{{src}}{{/if}}
  </div>

  <div class="video {{#unless isVideo}}hide{{/unless}} top-20">
    <span class="label">Webm:</span><input type="file" name="{{srcName}}[]" placeholder="src" value=""/>
  </div>
  <div class="video {{#unless isVideo}}hide{{/unless}}">
    <span class="label">Mp4:</span><input type="file" name="{{srcName}}[]" placeholder="src" value=""/>
  </div>
  <div class="video {{#unless isVideo}}hide{{/unless}}">
    <span class="label">Ogv:</span><input type="file" name="{{srcName}}[]" placeholder="src" value=""/>
  </div>
  <div class="image {{#unless isImage}}hide{{/unless}}">
    <span class="label">Image:</span><input type="file" name="{{srcName}}[]" placeholder="src" value=""/>
  </div>
  <div class="youtube {{#unless isYoutube}}hide{{/unless}}">
    <span class="label">Youtube:</span><input type="text" name="youtube[]" placeholder="src" value=""/>
  </div>

  <div>
    <span class="label">Bredd:</span
    ><input name="width[]" placeholder="width" value="{{width}}"/>
  </div>
  <div>
    <span class="label">Höjd:</span
    ><input name="height[]" placeholder="height" value="{{height}}"/>
  </div>
</div>